@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Post Users</h1>
    <p class="lead">Post Users is a sample ASP.NET MVC application code show-casing connection to Postgres Database using Entity Framework and Npgsql as a provider.</p>
    <p><a href="@Url.Action("Index", "Users")" class="btn btn-primary btn-lg">Users &raquo;</a></p>
</div>