@model IEnumerable<Users.Web.Models.User>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>
            Users
        </strong>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.Name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(x => x.IsActive)

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.IsActive)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

